aside.hidden#aside
    .logo-container 
        .wrapper
            h4.bold K
    nav.main-nav
        ul
            -for(var i = 0 ; i < 4; i++) 
                li
                    a(href="#") 
                        i.icon-chart.primary-color
                        span Item